    
        /* Irudiaren atzeko plano grisa eta letra mota */
        body {
            background-color: #eeeeee;
            font-family: "Times New Roman", Times, serif;
            display: flex;
            flex-direction: column;

            padding-top: 20px;
        }

        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        /* Taularen estiloa koadrikula efektua lortzeko */
        table {
            background-color: #eeeeee;
            border-color: #767676;
        }

        td {
            padding: 10px;
            border: 1px solid #767676;
        }

        /* Testu koadroa */
        textarea {
            border: 1px solid #767676;
            width: 250px;
            height: 60px;
        }

        /* Botoiaren estiloa */
        input[type="submit"] {
            background-color: #efefef;
            border: 1px solid #767676;
            border-radius: 4px;
            padding: 2px 12px;
            cursor: pointer;
            font-family: Arial, sans-serif;
        }
    